body {
	background: red;
}

/* Internal to eternal*/

#cRbBf2 { 
		color:#ff0000;
        background:#0000ff;
        font-size:2rem;
    }
#cRbB {
		color:#ff0000;
        background:#0000ff;
    }
#cYbr {
	color:red;
    background:red;
}

#head {
	width: 100px;
	height: 100px;
	border: 2px solid blue;
	padding: 20px 50px 40px 20px;
	margin: 30px;
	font-size: 30px;
	color: blue;
}
